// Place all the styles related to the fonts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #7FC6A6;
}

div.base {
    max-width: 800px;
}

h1 {
    margin: 0.5em 10px 0em 10px;
    border: 2px solid #7FC6A6;
    border-radius: 1em 1em 0px 0px;
    padding: 0.5em 1em;
    background-color: #FFF;
}

@media screen and (max-width: 480px){
    h1 {
        font-size: 20px;
    }
}

p.error_message {
    margin: 0em 10px 0em 10px;
    border: 2px solid #7FC6A6;
    padding: 0.5em 1em;
    background-color: #FFF;
    color: red;
}

form {
    margin: 0px;
    padding: 0px;
}

fieldset {
    margin: 0px 10px;
    border: 2px solid #7FC6A6;
    background-color: #FFF;

    dl {
        margin: 0px;
        padding: 0px;
        
        dt {
            display: block;
            float: left;
            font-size: large;

            &::after {
                content: "\00A0";
            }
            &:nth-of-type(3n+2) {
                line-height: 48px;
            }
            &:nth-of-type(3n+3) {
                padding-top: 6px;
                line-height: 1.5em;
            }
        }
        dd {
            display: block;
            padding-bottom: 10px;

            &:first-of-type {
                font-size: large;

                input[type=text] {
                    font-size: large;
                    width: 10em;
                    border-style: solid;
                    border-color: #888;

                    &:focus {
                        border-color: #7FC6A6;
                    }
                }
            }
            &:last-of-type {
                padding-bottom: 0px;
            }
        }
        // dt:nth-of-type(3n+1), dd:nth-of-type(3n+1) {
        //     line-height: 1em;
        // }
    }
}

@media all and (-ms-high-contrast:none) {
    *::-ms-backdrop, .deco_type > label > img { pointer-events: none; } /* IE11 */
}

.deco_type > label {
    display: inline-block;

    > input[type=radio] {
        display: none;
    }
    > img {
        height: 34px;
        display: inline-block;
        padding: 0px 0px 1px 0px;
        border-bottom: 7px solid transparent;
        // transform: rotateY(-360deg);
        // transition-property: none;

        &:hover {
            border-color: #9FE6C6;
        }
    }
    > input[type=radio]:checked + img {
        border-color: #7FC6A6;
        // transform: rotateY(0deg);
        // transition: all 0.3s ease;
    }
}
.bold > input[type=checkbox] {
    display: none;
}
.bold > label {
    display: block;
    background-color: #FFF;
    border-radius: 3em;
    border: 4px solid #7FC6A6;
    padding: 2px;
    width: 3em;
    height: 1.5em;
    left: 3px;
    position: relative;

    &::after {
        left: 0%;
        top: 0px;
        background-color: #CCC;
        border-radius: 50%;
        position: relative;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
        transition: all 0.3s ease;
    }

    > span {
        display: none;
    }
}
.bold > input[type=checkbox]:checked + label::after {
    left: 50%;
    background-color: #7FC6A6;
}

div#progress_bar_div {
    margin: 0em 10px 0em 10px;
    border: 2px solid #7FC6A6;
    padding: 0px 1em;
    background-color: #FFF;
}
div.submit, p.creating, p.download, p.error {
    margin: 0em 10px 0.5em 10px;
    border: 2px solid #7FC6A6;
    border-radius: 0px 0px 1em 1em;
    padding: 0px 1em;
    background-color: #FFF;
}
input[type=submit], #font_file_link {
    border-radius: 5px;
    box-shadow: 0 6px #cc7204;
    margin: 10px 20px 20px 20px;
    padding: 0.25em 0.7em;
    border: none;
    display: inline-block;
    background-color: #EF4431;
    color: #FFF;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        margin-top: 11px;
        margin-bottom: 19px;
        box-shadow: 0 5px #cc7204;
    }
    &:active {
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 0 1px #cc7204;
    }
}

#font_progress_bar {
    display: block;
    padding: 0px;
    border: none;
    margin: 5px auto;
    width: 95%;
    height: 2em;
}
p.creating, p.download, p.error {
    text-align: center;
    font-size: large;
}
