<style>
  /* <[CDATA[ */
@font-face {
  font-family: "HighLightLigatureYourFont";
  src: url("/HighLight.woff");
}
div.sample > textarea {
  font-family: "HighLightLigatureYourFont";
}
  /* ]]> */
</style>
<div class="base">
<h1>LigatureYourName</h1>
<div class="sample">
  <textarea>「ハイライト」が強調表示されます。</textarea>
</div>
<div class="sample_footer"><%= link_to "トップページ", new_font_path %></div>
</div>
